body{
    padding: 10px;
    margin:auto;
    box-sizing: border-box;
    width:850px;
    height: auto;
    /* background-color: pink; */
   
}
@font-face{
    font-family:"flower";
    src: url(Flower.ttf);
    position: sticky;
    top: 0;
}
.par p{
    font-family:"flower";
    font-size:42px;
    margin-bottom:0;
    position: sticky;
    top: 0;
}
.par span{
    font-family:"Khmer OS Freehand";
    font-size: 12px;
    display: flex;
    padding:0;
    position: sticky;
    top: 0px;
}
.menu{
    background: pink;
    position: sticky;
    top: 0px;
}
.menu ul{
    list-style-type: none;
    display: flex;
    padding:0;
    margin: 0;
    justify-content:center;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding:20px 20px;
    font-size: 30px;
    /* background: pink; */
    transition:0.5s;
}
.menu ul li a:hover{
    color: palevioletred;
    background: plum;
    transition:0.5s;
    border-radius: 25px 0px 10px 0px;
}
.im{
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    padding:0px;
    /* width:60%; */
    /* margin: 10rem auto 0 auto; */
}
.im img{
    height:250px;
    width:250px;
}
.im h2{
    margin: 0;
    /* color: blue; */
    margin-left: 10px;
}
.im p{
    font-family:"Khmer OS Freehand";
    /* color: rgb(255, 47, 0); */
    font-size: 13px;
    margin-left: 10px;
}
.ru {
   display: flex;
   justify-content: left;
   align-items: center;
   flex-wrap: wrap;
   padding: 0;
}
.ru img{
    width:270px;
    height: 300px;
    border: 2px solid pink;
}
.ru img :hover:{
    filter: grayscale(1);
    transition:0.3s;
}.cover{
    width:900px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* background: pink; */
}
.cover p{
    font-family: "Khmer OS Freehand";
    margin: 0px;
    font-size:18px ;
    /* width: 500px; */
    /* height: 400px; */
    align-content: center;
    justify-content:center;
    text-align: center;
}
.cover img{
    width:300px;
    height: 350px;
    display: flex;
    padding: 0;
}
.cover2{
    width:900px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* background: pink; */
}
.cover2 p{
    font-family: "Khmer OS Freehand";
    margin: 0px;
    font-size:18px ;
    /* width: 500px; */
    /* height: 400px; */
    align-content: center;
    justify-content:center;
    text-align: center;
}
.cover2 img{
    width:300px;
    height: 350px;
    display: flex;
}
.cover3{
    width:900px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* background: pink; */
}
.cover3 p{
    font-family: "Khmer OS Freehand";
    margin: 0px;
    font-size:18px ;
    /* width: 500px; */
    /* height: 400px; */
    align-content: center;
    justify-content:center;
    text-align: center;
}
.cover3 img{
    width:300px;
    height: 350px;
    display: flex;
}
.cover4{
    width:900px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* background: pink; */
}
.cover4 p{
    font-family: "Khmer OS Freehand";
    margin: 0px;
    font-size:18px ;
    /* width: 500px; */
    /* height: 400px; */
    align-content: center;
    justify-content:center;
    text-align: center;
}
.cover4 img{
    width:300px;
    height: 350px;
    display: flex;
}
.cover5{
    width:900px;
    height: 400px;
    margin-top: 20px;
    display: flex;
    /* background: pink; */
    margin-bottom: 20px;
}
.cover5 p{
    font-family: "Khmer OS Freehand";
    margin: 0px;
    font-size:18px ;
    /* width: 500px; */
    /* height: 400px; */
    align-content: center;
    justify-content:center;
    text-align: center;
}
.cover5 img{
    width:300px;
    height: 350px;
    display: flex;
}
.cover6{
    background: pink;
    display: flex;
    align-content: center;
    justify-content:center;
    text-align: center;
    width: 850px;
    height: auto;
}
.c1 h3{
    margin: 10px;
    /* color: blue; */
    margin-left: 10px;
}
.c1 p{
    font-family:"Khmer OS Freehand";
    /* color: rgb(255, 47, 0); */
    font-size: 18px;
   margin-left: 10px;
}
.c2 h3{
    margin: 10px;
    /* color: blue; */
    margin-left: 20px;
}
.c2 p{
    font-family:"Khmer OS Freehand";
    /* color: rgb(255, 47, 0); */
    font-size: 18px;
   margin-left: 20px;
}
.c3 h3{
    margin: 10px;
    /* color: blue; */
    margin-left: 10px;
}
.c3 p{
    font-family:"Khmer OS Freehand";
    /* color: rgb(255, 47, 0); */
    font-size: 18px;
   margin-left: 10px;
   
}
.c4 h3{
    margin: 10px;
    /* color: blue; */
    margin-left: 10px;
}
.c4 p{
    font-family:"Khmer OS Freehand";
    /* color: rgb(255, 47, 0); */
    font-size: 18px;
    margin-left: 10px;
}
